$borderColor: rgb(125, 124, 124);
.profileContainer{
  min-height: 92vh;
  .profileHeader{
    width: 40%;
    border-bottom: 2px solid $borderColor;
  }
  .formFieldsContainer{
    min-width: 230px;
  }
}
.profileAvatar{
  width: 230px;
  height: 200px;
}
