$borderColor: rgb(125, 124, 124);
.containerAll{
  height: 92vh;
  &.light{
    background: #ffffff;
  }
  &.dark{
    background-color: rgba(14, 14, 14, 0.93);
  }
}
.questionContainer{
  border: 2px solid $borderColor;
  border-radius: 5px;
  h1 {
    width: 85%;
    border-bottom: 2px solid $borderColor;
  }
  .text{
    width: 90%;
  }
  &.light{
    background: #ffffff;
    h1{
      color: rgb(59, 59, 59);
    }
    input, textarea {
      background: #ffffff;
    }
  }
  &.dark{
    background-color: #5f5f5f;
    h1, label, span, p{
      color: #dedede;
    }
    input, textarea{
      color: white;
      background-color: rgba(14, 14, 14, 0.93);
    }
  }

  .buttonsContainer{
    min-width: 50px;
  }
  .tagsContainer{
    .tag{
      border-right: 2px solid $borderColor;
    }
  }
}
.commentsContainer{
  border: 2px solid $borderColor;
  border-radius: 5px;
  &.light{
    background: #ffffff;
    h1{
      color: rgb(59, 59, 59);
    }
    input, textarea {
      background: #ffffff;
    }
  }
  &.dark {
    background-color: #5f5f5f;

    h1, label, span, p {
      color: #dedede;
    }

    input, textarea {
      color: white;
      background-color: rgba(14, 14, 14, 0.93);
    }
  }
  .commentContainer{
    border: 2px solid $borderColor;
    border-radius: 5px;
    @media (max-width: 500px) {
      flex-wrap: wrap;
    }
  }
  .userInfoContainer{
    .img{
      width: 70px;
      height: 50px;
    }

  }

}
