.authForm{
  max-width: 600px;
  min-width: 225px;
  border: 2px solid red;
  border-radius: 5px;
  -webkit-box-shadow: 12px 7px 18px 0px rgba(173, 50, 50, 0.4);
  -moz-box-shadow:    12px 7px 18px 0px rgba(173, 50, 50, 0.4);
  box-shadow:         12px 7px 18px 0px rgba(173, 50, 50, 0.4);
}
