.navbar-nav {
	float: right !important;
}

.navUserBtn {
	background-color: transparent;
	border: transparent;
	font-size: 14px;
	margin-top: 2px;
	padding: 6px;
	color: rgb(221, 221, 221);
}

.navAddQstnBtn {
	background-color: transparent;
	font-size: 14px;
}

.dropdown-menu {
	background-color: rgb(251, 251, 251);
}
.navbar-brand {
	margin: 0px;
}
