$borderColor: rgb(125, 124, 124);
.newQuestionFormContainer{
  height: 92vh;
}
.newQuestionForm {
	min-width: 300px;
  max-width: 800px;
	width: 70%;
	border: 2px solid $borderColor;
	border-radius: 5px;
  .newQuestionHeader {
    h1 {
      width: 85%;
      border-bottom: 2px solid $borderColor;
    }
  }
}
