.questionListContainer{
  min-height: 75vh;
}
.questionsList{
  &.tile{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.4fr));
  }
}
.itemContainer{
  min-height: 200px;
  border-radius: 3px;
}

.questionTitle{
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s;
  width:inherit;
  overflow-wrap: break-word;
}
